{% extends 'ui/theme.html' %}

{% block content %}
    <!-- home section starts -->
    <section id="home" class="flex items-center min-h-screen bg-cover bg-center"
             style="background-image: url('https://i.pinimg.com/564x/b0/2b/d9/b02bd9f5af7843b4bb797cdd6669c29f.jpg');">
        <div class="container mx-auto text-center">
            <h3 class="text-6xl text-gray-800 font-bold mb-4">ONLINE SHOPPING</h3>
            <span class="text-2xl text-pink-600 block mb-4">Beauty Care and Fashion</span>
            <a href="/products"
               class="inline-block bg-gray-800 text-white text-lg py-2 px-8 rounded-full hover:bg-pink-600 transition">Shop
                Now</a>
        </div>
    </section>
    <!-- home section ends -->

    <!-- about section starts -->
    <section class="py-8 px-12" id="about">

        <h1 class="text-center text-4xl font-bold text-gray-800 py-2 my-8 bg-pink-100">About <span
                class="text-pink-500">Us</span></h1>

        <!-- Video and Text -->
        <div class="container mx-auto flex flex-wrap justify-between">
            <div class="swiper w-full mb-8 lg:mb-0">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper w-full">
                    <!-- Slides -->
                    <div class="swiper-slide w-full">
                        <video class="w-full" loop autoplay muted>
                            <source src="static/video/petal_20221004_212703.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <!-- <div class="swiper-slide w-full">
                        <video class="w-full" loop autoplay muted>
                            <source src="static/video/fc26e0199fa95c6beb9b1fc10f2bd1e8.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="swiper-slide w-full">
                        <video class="w-full" loop autoplay muted>
                            <source src="static/video/40a3f298817ce3ffe11caa1d6485b8e3.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div> -->
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <!-- Text Justify stretch -->
        <div class="container mx-auto mt-8">
            <p class="text-lg text-gray-600 text-center">KilaShop is a beauty care and fashion online shop that provides
                various products for your daily needs. We provide the best quality products for you. We have been
                trusted by many customers and have been established since 2021. We are committed to providing the best
                service for you.</p>
        </div>
    </section>
    <!-- about section ends -->

    <!-- products section starts  -->
    <section class="py-8 px-4 md:px-16 lg:px-36" id="products">
        <h1 class="text-center text-4xl font-bold text-gray-800 py-2 my-8 bg-pink-100">Latest <span
                class="text-pink-500">Products</span></h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for product in products[:9] %}
                <div class="bg-gray-200 rounded-xl hover:scale-[1.03] transition-all relative overflow-hidden">

                    <div class="p-6">
                        {# Like Button #}
                        <div
                                class="bg-gray-100 w-10 h-10 flex items-center justify-center rounded-full cursor-pointer absolute top-4 right-4">
                            <i class="fas fa-heart"></i>
                        </div>

                        {# Image #}
                        <div class="w-2/3 h-[220px] overflow-hidden mx-auto aspect-w-16 aspect-h-8">
                            <img src="{{ product.image_path }}" alt="{{ product._id }}_{{ product.name }}"
                                 class="h-full w-full object-contain"/>
                        </div>
                    </div>

                    {# Product Details #}
                    <div class="text-center bg-gray-100 p-6">
                        <h3 class="text-lg font-bold text-gray-800">{{ product.name }}</h3>
                        <h4 class="text-lg text-gray-800 font-bold mt-6">{{ "Rp{:,.2f}".format(product.price) }} <span
                                class="text-gray-400 ml-2 font-medium"
                                style="text-decoration: line-through;">{{ "Rp{:,.2f}".format(product.price*1.20) }}</span>
                        </h4>

                        <button type="button" onclick="addToCart('{{ product._id }}')"
                                class="w-full flex items-center justify-center gap-3 mt-6 px-6 py-3 bg-pink-500 text-base text-white font-semibold rounded-xl hover:bg-pink-700 hover:text-gray-200 transition">
                            <i class="fas fa-shopping-cart"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- products section ends -->

    <!-- contact section starts -->
    <section id="contact" class="py-8 px-12">
        <h1 class="text-center text-4xl font-bold text-gray-800 py-2 my-8 bg-pink-100">Contact <span
                class="text-pink-500">Us</span></h1>

        <div class="container mx-auto flex flex-wrap justify-between">
            <form action="/send_message" method="POST" class="w-full lg:w-1/2 bg-white shadow-md rounded-lg p-8 mb-8 lg:mb-0">
                <input type="text" name="name" placeholder="Name"
                    class="w-full p-4 mb-4 border rounded-lg text-lg text-gray-700 focus:border-pink-600">
                <input type="email" name="email" placeholder="Email"
                    class="w-full p-4 mb-4 border rounded-lg text-lg text-gray-700 focus:border-pink-600">
                <input type="tel" name="phone" placeholder="Phone Number"
                    class="w-full p-4 mb-4 border rounded-lg text-lg text-gray-700 focus:border-pink-600">
                <textarea name="message" placeholder="Message"
                        class="w-full p-4 mb-4 border rounded-lg text-lg text-gray-700 focus:border-pink-600 h-40 resize-none"></textarea>
                <input type="submit" value="Send Message"
                    class="w-full bg-gray-800 text-white text-lg py-2 px-8 rounded-full hover:bg-pink-600 transition">
            </form>
            <div class="w-full lg:w-1/2 lg:pl-8 lg:py-8 text-center lg:text-left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.013292073073!2d107.1463663147696!3d-6.264000995468073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f2b4b4b4b4b5%3A0x1b1b1b1b1b1b1b1b!2sKilaShop!5e0!3m2!1sid!2sid!4v1633363660734!5m2!1sid!2sid"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>
    <!-- contact section ends -->


{% endblock %}