{% extends 'ui/base.html' %}
{% block body %}
    <body class="font-sans bg-gray-100">
    <div class="font-[sans-serif]">
        <div class="min-h-screen flex flex-col items-center justify-center">
            <div class="grid md:grid-cols-2 items-center gap-4 max-md:gap-8 max-w-6xl max-md:max-w-lg w-full p-4 m-4 shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-md">
                <div class="md:max-w-md w-full px-4 py-4">
                    <form method="POST" action="{{ url_for('login') }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-12">
                            <h3 class="text-gray-800 text-3xl font-extrabold">Sign in</h3>
                            <p class="text-sm mt-4 text-gray-800">Don't have an account <a
                                    href="{{ url_for('register') }}"
                                    class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">Register
                                here</a></p>
                        </div>

                        <div>
                            {{ form.username.label(class="text-gray-800 text-xs block mb-2") }}
                            <div class="relative flex items-center">
                                {{ form.username(class="w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 px-2 py-3 outline-none", placeholder="Enter username") }}
                                {% if form.username.errors %}
                                    <p class="text-red-500 text-xs mt-1">{{ form.username.errors[0] }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mt-8">
                            {{ form.password.label(class="text-gray-800 text-xs block mb-2") }}
                            <div class="relative flex items-center">
                                {{ form.password(class="w-full text-gray-800 text-sm border-b border-gray-300 focus:border-blue-600 px-2 py-3 outline-none", placeholder="Enter password") }}
                                {% if form.password.errors %}
                                    <p class="text-red-500 text-xs mt-1">{{ form.password.errors[0] }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="flex flex-wrap items-center justify-between gap-4 mt-6">
                            {#                            <div class="flex items-center">#}
                            {#                                {{ form.remember_me(class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded") }}#}
                            {#                                {{ form.remember_me.label(class="ml-3 block text-sm text-gray-800") }}#}
                            {#                            </div>#}
                            <div>
                                <a href="javascript:void(0);"
                                   class="text-blue-600 font-semibold text-sm hover:underline">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>

                        {# Button Login #}
                        <div class="mt-12">
                            {{ form.submit(class="w-full shadow-xl py-2.5 px-4 text-sm tracking-wide rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none hover:cursor-pointer") }}
                        </div>
                    </form>
                </div>

                <div class="md:h-full bg-[#000842] rounded-xl lg:p-12 p-8">
                    <img src="https://readymadeui.com/signin-image.webp" class="w-full h-full object-contain"
                         alt="login-image"/>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}