<!-- footer section starts  -->
<footer class="bg-gray-800 text-gray-300 py-12 px-4 text-center">
    <div class="container mx-auto">
        <div class="mb-8">
            <a href="#" class="text-3xl font-bold text-white">KilaShop<span class="text-pink-600">.</span></a>
        </div>
        <p class="text-lg mb-8">Follow us on social media for the latest updates and offers.</p>
        <div class="flex justify-center space-x-4 text-2xl text-gray-300 mb-8">
            <a href="https://www.facebook.com" class="fab fa-facebook-f hover:text-pink-600 transition"></a>
            <a href="https://www.twitter.com" class="fab fa-twitter hover:text-pink-600 transition"></a>
            <a href="https://www.instagram.com" class="fab fa-instagram hover:text-pink-600 transition"></a>
            <a href="https://www.tiktok.com" class="fab fa-tiktok hover:text-pink-600 transition"></a>
            <a href="https://shopee.com" class="fas fa-shopping-bag hover:text-pink-600 transition"></a>
        </div>
        <div class="text-lg mb-8">
            <p class="bg-gray-800 hover:underline">Email: <a href="mailto:businesskilashop@gmail.com"
                                                             class="hover:text-pink-600 transition">businesskilashop@gmail.com</a>
            </p>
        </div>
        <p class="text-gray-400">&copy; 2024 KilaShop. All rights reserved.</p>
    </div>
</footer>
<!-- footer section ends -->